.profileBox{
    background:#fff;
    box-shadow: 0 0 10px #ddd;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    padding: 40px 20px;
    margin-top: 30px;
}
.profilePhotoUpdate{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto
}

.mobile_box{
    position: relative;
    align-items: center
};
.mobile_box p{
    position: absolute;
}
.mobile_box input{
    padding-left: 35px;
}
.profilePhotoUpdate img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #ea2147;
    display: block;
    margin: 0 auto;
}
.browseFIle{
    background:  #ddd;
}
.profilePhotoUpdate input[type="file"]{
    display: block;
    margin: 10px auto;
}
.profilePhotoUpdate input[type="submit"]{
    padding: 5px 50px;
    display: block;
    margin: 0 auto;
    background: #ea2147;
    color:#fff;
    border: none;

}
.profile-input-grid{
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-bottom: 20px;
}
.profile-input-grid input,textarea{
    border: none;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
